.title {
  font-size: 32px;
  color: $accentColor;
  padding: 32px;
  font-family: $mainFont;
}

.search {
  display: flex;
  padding-left: 32px;
  align-items: center;

  &__input {
    width: 256px;
    height: 24px;
    border: 1px solid $primaryColor;
    margin: 4px 4px 4px 0px;
    padding: 1px 8px;
    font-size: 16px;
    color: $primaryColor;
    font-family: $mainFont;
  }
  &__submit {
    border: 1px solid $primaryColor;
    margin: 4px;
    background-color: $accentColor;
    line-height: 20px;
    padding: 3px 8px;
    font-size: 16px;
    color: $primaryColor;
    font-family: $mainFont;
    cursor: pointer;
    &:hover {
      background-color: $primaryColor;
      color: $accentColor;
    }
  }
  &__reset {
    border: 1px solid $primaryColor;
    margin: 4px;
    background-color: $accentColor;
    line-height: 20px;
    padding: 3px 8px;
    font-size: 16px;
    color: $primaryColor;
    font-family: $mainFont;
    cursor: pointer;
    &:hover {
      background-color: $primaryColor;
      color: $accentColor;
    }
  }
}
