body {
  background-color: $backgroundColor;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.main {
  width: 100vw;
  padding: 32px;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }

  &__favourites {
    width: 75vw;
    margin-right: 32px;
    margin-bottom: 32px;
    background-color: $primaryColor;
    padding: 16px;
    &--title {
      @include listTitle();
    }
    @include tablet {
      width: 352px;
    }
  }
  &__results {
    background-color: $primaryColor;
    margin-bottom: 32px;
    padding: 16px;
    width: 75vw;
    &--title {
      @include listTitle();
      align-self: flex-end;
    }
  }
}

.favourites {
  @include tablet {
    width: 320px;
  }

  &__card {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 8px 0px;
    background-color: $secondaryColor;
    &--icon {
      color: $accentColor;
      font-size: 18px;
      padding: 8px 8px 8px 0px;
      cursor: pointer;
      transition: all ease 0.2s;
      &:hover {
        transform: translateY(-2px);
        text-shadow: 0px 2px 2px $backgroundColor;
      }
    }
    &--img {
      width: 64px;
      height: auto;
    }
    &--title {
      padding: 8px;
      @include favouriteTitle();
    }
  }
}

.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include tablet {
    width: 100%;
    justify-content: space-between;
  }
  &__card {
    width: 216px;
    cursor: pointer;
    font-family: $mainFont;
    color: $secondaryColor;
    background-color: $backgroundColor;
    margin: 8px 8px;
    &--img {
      padding: 8px;
      width: 216px;
      height: 280px;
      object-fit: cover;
    }
    &--title {
      padding: 8px 8px 16px 8px;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
    }
    transition: all ease 0.2s;
    &:hover {
      background-color: $secondaryColor;
      color: $accentColor;
      transform: translateY(-2px);
      box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.5);
    }
  }
}

.favourite {
  background-color: $secondaryColor;
  @include favouriteTitle();
}
